@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;1,300&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --rose: #ef6c57;
  --grey: #333333;
  --lightgrey: #737373;
  --darkgrey: #4d4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav-container {
  width: 100%;
  background-color: var(--white);
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

.navbar-logo {
  color: var(--lightgrey);
  cursor: pointer;
  font-weight: 200;
  font-size: 2rem;
  justify-self: start;
  margin-left: 20px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  color: var(--lightgrey);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
}

#active {
  color: var(--rose);
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--lightgrey);
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: relative;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    right: -100%;
    z-index: 99;
    opacity: 0;
    transition: all 0.6s ease;
  }

  .navbar-logo {
    margin-left: 20px;
  }

  .nav-menu.active {
    background-color: var(--white);
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
    font-size: 1.5rem;
  }

  .nav-links:hover {
    color: var(--rose);
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Slideshow style */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dots { 
  text-align:center; 
  margin-top: -20px;
}

img {vertical-align: middle;height: 225px;}

/* parallax effect starts */

.parallax {
  background-image: url(/assets/background.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.parallax-container {
  min-height: 600px;
}

.parallax-container-title {
  width: 100%;
  padding-top: 10rem;
}

.parallax-title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  color: var(--white);
  text-transform: uppercase;
}

/* parallax effect ends */

/* About section style  */

.about-site-section-top {
  background-color: var(--white);
  margin-top: 200px;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.about-site-section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.about-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.about-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

.about-col-img,
.about-col-par {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-pic {
  max-width: 100%;
}

.about-par {
  color: var(--darkgrey);
  line-height: 1.6;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.about-list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

.about-list {
  display: flex;
  align-items: center;
}

.about-span-icon {
  color: var(--rose);
  margin-right: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
  line-height: 1.2;
}

.about-span-list {
  line-height: 1.7;
  color: var(--darkgrey);
  font-weight: 300;
  font-size: 1rem;
}

.about-row-subtitle {
  width: 100%;
  padding-bottom: 3rem;
  justify-content: center;
}

.about-subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--black);
}

.about-container-team {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.about-team-members {
  text-align: center;
  margin-bottom: 3rem;
}

.about-profile-pic {
  margin-bottom: 1.5rem;
  width: 50%;
  border-radius: 50%;
}

.about-social-media {
  color: var(--rose);
  padding-right: 2rem;
}

.about-button {
  text-align: center;
}

.about-btn {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: var(--rose);
  color: var(--white);
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 10px;
  cursor: pointer;
}

.about-site-section-bottom {
  padding-bottom: 5em;
}

@media screen and (min-width: 768px) {
  .about-site-section {
    padding: 5em 0;
  }

  .about-team-members {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .about-team-members {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

/* footer style */

.footer-container {
  position: relative;
  bottom: 0;
  background-color: var(--grey);
  padding: 4rem 0 2rem 0;
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  width: 25%;
  padding: 0 30px;
}

.footer-heading h2 {
  font-size: 20px;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: 400;
  position: relative;
}

.footer-heading a {
  font-weight: 200;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--lightgrey);
}

.footer-heading p {
  font-weight: 200;
  color: var(--lightgrey);
}

.footer-heading .footer-2 {
  display: flex;
  flex-direction: column;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--rose);
  font-size: 1rem;
}

.social-media {
  display: inline-block;
  margin-right: 20px;
}

.footer-copy {
  font-weight: 200;
  color: var(--lightgrey);
}

/*Deb's contact page */

.contact-site-section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: var(--white);
  margin-top: 200px;
}

.contact-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

iframe {
  margin: auto;
  display: block;
}

/*Deb's contact page ends here*/
